<div class="login">
  
  <h1 class="icon-insta">InstagramXAN</h1>
    <h2 class="vvzhL ">Sign up to see photos and videos from your friends.</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="field">
    <%= f.email_field :name, autofocus: true, autocomplete: "name",placeholder:"Your Name", type:"text" %>
  </div>
  
    <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email", type:"email" %>
  </div>

  <div class="fieldtext-center">
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password",placeholder:"Password", type:"password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"Password", type:"password" %>
  </div>
  <br />
  <p class="ZGwn1">People who use our service may have uploaded your contact information to Instagram. <a href="https://www.facebook.com/help/instagram/261704639352628" tabindex="0" target="_blank">Learn More</a><br><br>By signing up, you agree to our <a href="https://help.instagram.com/581066165581870" tabindex="0" target="_blank">Terms</a> , <a href="https://www.facebook.com/privacy/policy" tabindex="0" target="_blank">Privacy Policy</a> and <a href="/legal/cookies/" tabindex="0" target="_blank">Cookies Policy</a> .</p>
  <br />
  <div class="actions">
    <%= f.submit "Sign up",type:"submit", value:"Sign up" %>
  </div>
<% end %>

<div class="infobox">
  
  <p>Have an account? <a href="https://instagram.com"><%= render "devise/shared/links" %></a></p>
  
</div>
<div class="apps">

  <p>Get the app.</p>
  <span><a href="https://apps.apple.com/app/instagram/id389801252?vt=lo"><img src="https://i.imgur.com/lREV6Qa.png" height="45px" width="153px"></a><a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3DXRR9_gALAAHKOzMSO3MkAOZ0JJtC%26utm_content%3Dlo%26utm_medium%3Dbadge"><img src="https://i.imgur.com/DFQNKXK.png" height="45" width="151px"></a></span>

</div>

<div class="footer">
  <p>
      <a href="https://www.instagram.com/about/us/">ABOUT US</a>
      <a href="https://help.instagram.com/">SUPPORT</a>
      <a href="https://instagram-press.com/">PRESS</a>
      <a href="https://www.instagram.com/developer/">API</a>
      <a href="https://www.instagram.com/about/jobs/">JOBS</a>
      <a href="https://help.instagram.com/519522125107875">PRIVACY</a>
      <a href="https://help.instagram.com/581066165581870">TERMS</a>
      <a href="https://www.instagram.com/explore/locations/">DIRECTORY</a>
      <a href="https://www.instagram.com/directory/profiles/">PROFILES</a>
      <a href="https://www.instagram.com/directory/hashtags/">HASHTAGS</a>
      <a href="">LANGUAGE</a>
      <span>© 2019 INSTAGRAM</span>
  </p>
</div>

<style>
  /* Crafted by Apratim Shukla */
  html { height: 100% }
  body {
    background: rgba(250,250,250,1);
  }
  .login {
    background: #fff;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 0px;
    height: 610px;
    margin: 30px auto 0;
    width: 400px;
  }
  .login h1 {
    box-sizing: border-box;
    margin: 20px 0 30px 0;
    text-align: center;
    user-select: none;
  }
  input[type="password"], input[type="text"],input[type="email"] {
    background: rgba(250,250,250,1);
    border: 1px solid rgb(236, 234, 234);
    border-radius: 3px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: black;
    height: 39px;
    margin: 10px 0 0 40px;
    padding: 10px;
    font-size: 13px;
    width: 320px;
  }
  input[type="password"]::placeholder, input[type="text"]::placeholder, input[type="email"]::placeholder {
    color: rgb(165, 164, 164);
  }
  input[type="password"]:focus, input[type="text"]:focus, input[type="email"]:focus {
    outline: 0;
    border: 1px solid #a1a1a1;
  }
  
  .vvzhL {
      color: #8e8e8e;
      color: rgba(var(--f52,142,142,142),1);
      font-size: 17px;
      font-weight: 600;
      line-height: 20px;
      margin: 0 40px 10px;
      text-align: center;
  }

  .ZGwn1 {
      color: #8e8e8e;
      color: rgba(var(--f52,142,142,142),1);
      font-size: 12px;
      line-height: 16px;
      margin: 10px 40px;
      text-align: center;
  }
  
  .forgot {
    color: #7f7f7f;
    display: inline-block;
    box-sizing: border-box;
    font: 12px/1 sans-serif;
    left: -19px;
    position: relative;
    text-decoration: none;
    top: -15px;
    transition: color .4s;
  }
  .forgot:hover { color: #3b3b3b }
  
  input[type="submit"] {
    background: #3897F0;
    border: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f8f8f8;
    font-weight: 600;
    height: 29px;
    margin: 14px 0 0 40px;
    width: 320px;
  }
  input[type="submit"]:hover, input[type="submit"]:focus {
    background: rgb(48, 144, 233);
    outline: 0;
  }
  
  
  .divider {
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    color:rgb(165, 164, 164);
    font-size: 13.5px;
    font-weight: 500;
    margin: 20px 0 0 40px;
    width: 320px;
  }
  
  .divider:before,
  .divider:after {
    background-color: rgb(224, 221, 221);
    content: "";
    display: inline-block;
    height: 1.2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .divider:before {
    right: 2em;
    margin-left: -50%;
  }
  
  .divider:after {
    left: 2em;
    margin-right: -50%;
  }
  
  .fbwrapper {
    text-align: center;
    margin-top: 25px;
  }
  
  .fb a{
    font-weight: 600;
    font-size: 14px;
    display: inline;
    vertical-align: middle;
    margin: 20px 0 0 10px;
    text-decoration: none;
    color: rgb(107, 106, 106);
    
  }
  .fb img {
    vertical-align: middle;
  }
  
  .forgotwrapper{
    text-align: center;
    margin-top: 35px;
  }
  
  .forgot a{
    margin: 20px 0 0 40px;
    text-decoration: none;
    color: rgb(107, 106, 106);
  }
  
  .infobox {
    margin-top: 50%;
    background: #fff;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 5px;
    height: 60px;
    margin: 60px auto 0;
    width: 400px;
  }
  .infobox p {
    box-sizing: border-box;
    margin: 22px 0 30px 0;
    text-align: center;
    user-select: none;
    font-size: 14px;
  }
  
  .infobox p a{
    color: rgb(94, 163, 243);
    text-decoration: none;
    font-weight: 600;
  }
  
  .apps {
    height: 100px;
    margin: 20px auto 0;
    width: 400px;
  }
  
  .apps p {
    box-sizing: border-box;
    margin: 10px 0 30px 0;
    text-align: center;
    user-select: none;
    font-size: 14px;
  }
  
  .apps span a{
    box-sizing: border-box;
    margin-left: 28px;
  }
  
  .app span a img{
    padding-left: 20px;
  }
  
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  
  .footer p a {
    color: #003569;
    text-decoration: none;
    padding-left: 10px;
    font-size: 13px;
  }
  
  .footer p span {
    color: rgb(189, 186, 186);
    padding-left: 80px;
    font-size: 13px;
  }

</style>
